<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acts of Kindness</title>
</head>
<body>
    <h1>TwoFlower</h1>
<h2>In this time of need, families often need the support of their community to get by. Donations do not always have to be material. Acts of kindness are what really matters.</h2>
<h2>How can your friends and extended family help you? Please enter THREE services that you may need in this trying time.</h2>

<label for="helpOne"></label>
  <input type="text" id="helpOne" name="HelpOne" value="Act of Kindness #1">
<label for="helpTwo"></label>
  <input type="text" id="helpTwo" name="HelpTwo" value="Act of Kindness #2">
<label for="helpThree"></label>
  <input type="text" id="helpThree" name="HelpThree" value="Act of Kindness #3">
</body>
</html>